{% load static %}
{% load gameinfo_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'gameinfo/css/style.css' %}">
    </head>
    <body>
    
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="2" style="background-color:#3E4035;">
                <h1 class="header"><a href="{% url 'home' %}" class="header-title">GameSite</a></h1>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#EDEEEC;width:20%;text-align:top;">
                {% if selected_genre == '-' %} 
                    {% showGenreList %}
                {% else %}
                    {% showGenreList selected_genre %}
                {% endif %}
            </td>
            <td style="background-color:rgb(255, 255, 255);height:100% ;width:80%;text-align:top;">
            {% block content %}

            {% endblock content %}
            </td>
        </tr>
      </table>
    </body>
</html>