<p>
    <div class="game-info">
        <img class="game-logo" src="{{ game.logo.url }}" align="left" vspace="5" hspace="5">
        <h3 class="game-name"><b>{{ game.name }}</b></h3>
        <br>
        Жанр: <a class="genre-item-all" href="{% url 'genre' game.genre %}">{{ game.genre.name_loc }}</a>
        <br>
        <br>
        Разработчик: {{ game.developer }}
        <br>
        <br>
        {{ game.decription }}
    </div>
    <br>
    <hr>
    <div class="comment-area">
        <h3>Оставьте свое впечатление об игре!</h3>
        <form action="{{ game.get_absolute_url }}" method="POST">
            {% csrf_token %}
            <p>{{ form.text }}</p>
            <div class="form-error">{{ form.text.errors }}</div>
            <button class="button-send" type="sumbit">Отправить</button>
        </form>
    </div>
    <hr>
    <div class="comments-field">
        {% for comment in comments %}
            <div class="comment">
                <img class="user-icon" src="https://api.icons8.com/download/66e6b8ee50e97fbf61ff1ffc58f01a6282328a62/iOS7/PNG/512/Logos/discord_logo_filled-512.png">
                <span class="user-name"><b>Gamer</b> <span class="comment-time">{{ comment.time_create }}</span></span>
                <p class="comment-text">{{ comment.text }}</p>
            </div>
            <br>
        {% endfor %}
    </div>
</p>