html, body {
    font-family: 'Arial';
    height: 100%;
    margin: 0px;
    padding: 0px; 
}

table {
    border: 0px;
    margin:auto;
    width:100%;
    height:100%;
}

h1.header {
    margin-left: 15px;
}

a.header-title {
    text-decoration: none;
    color: #E0B777;
}

ul.genre-list {
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
}

a.genre-item {
    text-decoration: none;
    color: #7D7F78;
    font-size: 24px;
}

a.genre-item-selected {
    text-decoration: none;
    color: #45719F;
    font-size: 24px;
}

img.game-logo {
    width: 128px;
    height: 200px;
    border: 5px solid black;
}

h3.game-name{
    position: relative;
    top: 1%;
}

a.game-name {
    color: black;
    text-decoration: underline;
}

a.genre-item-all{
    text-decoration: none;
    color: #45719F;
}